{% extends "base.html" %}
{% block title %}Chord Practice{% endblock %}
{% block content %}
  <main>
    <h2>Random Chord Set</h2>
    <details name="settings">
      <summary>Customize</summary>
      <form method="POST">
        <label for="count">Count</label>
        <input type="number" name="count" id="count" value="2" placeholder="2" min="1" max="8">
        <label for="count">Sets</label>
        <input type="number" name="sets" id="sets" value="3" placeholder="3" min="1" max="8">
      
        <button type="submit">Generate chords</button>
      </form>
    </details>

    <!-- Generated server-side either with default or customized parameters.-->
    <pre><code>{{ chords }}</code></pre>
    <a id="download" download="practice_chords.txt" href="#">Download tabs</a>
  </main>
  <script defer src="{{url_for('static', filename='js/exporter.js') }}"></script>
{% endblock %}