<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pico.css') }}">
    <title>Chordsea</title>
</head>
<body>
    <header>
      <nav>
        <ul>
          <li><strong><a href="/">Chordsea</a></strong><li>
        </ul>
        <ul>
          <li><a href="/">home</a><li>
          <li><a href="/about">about</a><li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Welcome to Chordsea!</h1>
      <hr/>
      <h2>Interface goes here...</h2>
      <p>Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet, lorem ipsum dolor sit amet...</p>
      <p>Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet, lorem ipsum dolor sit amet...</p>
      <p>Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet, lorem ipsum dolor sit amet...</p>
      <p>Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet, lorem ipsum dolor sit amet...</p>
    </main>
</body>
</html>
